{% extends 'base.html'%}

{% block title %}
Home page

{% endblock %}

{% block content %}
<h1>This is the home page</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quaerat impedit odit sit. Officiis rem alias distinctio dolorem voluptas in, explicabo cum rerum aliquid nisi velit omnis? Ducimus provident repudiandae necessitatibus commodi dicta recusandae nihil porro explicabo culpa saepe esse maxime adipisci deleniti facere consectetur temporibus nemo repellat, tempore dolores?</p>
{% endblock %}